@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");

body {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #e5e5e5;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
/* ---------------------------- */
[class*="__container"] {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1270px; /* 1240 + 15 + 15  */
	margin: 0 auto;
}
/* ---------------------------- */
.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	background-color: rgba(255, 255, 255, 0.8);
}
.header__container {
	display: flex;
	min-height: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	align-items: center;
	gap: 10px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.header__logo {
	position: relative;
	font-weight: 700;
	font-size: 18px;
	line-height: 139%;
	display: inline-flex;
	align-items: flex-end;
	color: #495057;
	z-index: 2;
}

.header__logo::after{
	content: ".";
	color: #DDBEA9;
}
.header__navigation {
	display: flex;
	gap: 20px;
	justify-content: center;
	min-height: 25px;
	
}
.header__menu {
	display: flex;
	gap: 25px;
	align-items: center;
}
.menu {
}
.menu__body {
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 25px;
	row-gap: 3px;

}
.menu__item {
	font-weight: 500;
	color: rgba(73, 80, 87, 0.5);
	line-height: 208%;
}
.menu__link {
	position: relative;
	line-height: 2.08;
	font-weight: 500;
	color: rgba(73, 80, 87, 0.5);
	line-height: 208%;
	display: inline-block;
	transition: color 0.3s;
}
.menu__link::before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 2px;
	width: 0;
	transition: width 0.3s, left 0.3s;
	border-radius: 2px;
	background-color: #DDBEA9;
}
.menu__link.active {
	color: #495057;
}

.menu__link.active::before{
	width: 100%;
	left: 0;
}
.menu__item_parent {
	position: relative;
	padding-right: 13px;
}
.header__icon{
	display: none;
}

.menu__sub-menu {
}
.sub-menu {
}
.sub-menu__list {
	background-color: #212529;
	min-width: 140px;
	padding: 20px;
	border-radius: 5px;
	
}
.sub-menu__item:not(:last-child) {
	margin-bottom: 10px;
	
}
.sub-menu__link {
	color: rgba(248, 249, 250, 0.6);
	font-weight: 500;
	line-height: 2.08;
	transition: color 0.3s;
}
.sub-menu__link:hover{
	color: #f8f9fa;
}
.header__box {
}
.box-header {
	display: flex;
	align-items: center;
	gap: 25px;
	justify-content: flex-end;
}
.box-header__item {
	
}
.box-header__link {
	font-weight: 500;
	color: rgba(73, 80, 87, 0.5);
	line-height: 208%;
	transition: all 0.3s;
	position: relative;
	display: inline-block;
}
.box-header__link::before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 2px;
	width: 0;
	transition: all 0.3s;
	border-radius: 2px;
	background-color: #DDBEA9;
}

.box-header__button {
	background-color: #DDBEA9;
	color: #f8f9fa;
	font-weight: 500;
	line-height: 208%;
	border-radius: 20px;
	padding: 8px 16px;
	border: 1px solid #DDBEA9;
	transition: all 0.3s;
	z-index: 3;
}
.box-header__button:hover{
	background-color: #f8f9fa;
	border: 1px solid #DDBEA9;
	color: #DDBEA9;
}


@media (any-hover: hover){
	.menu__item:hover .menu__link{
		color: rgb(73, 80, 87 );
	}
	.menu__item:hover .menu__link::before{
		width: 100%;
		left: 0;
	}
	.menu__item_parent:hover .sub-menu{
		top: 100%;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
.box-header__link:hover {
	color: rgba(73, 80, 87, 1);
	
}
.box-header__item:hover .box-header__link::before{
	width: 100%;
	left: 0;
}
}

@media(min-width: 660px){
	.sub-menu{
		position: absolute;
		top: 120%;
		left:0;
		opacity:0;
		visibility: hidden;
		transition: all 0.3s;
		padding-top: 5px;
		pointer-events: none;
	}
	.menu__item_parent::after{
	content: "";
	background: url(../img/icons/Vector.svg) 0 0 / 100% no-repeat;
	top: 10px;
	right: 0;
	position: absolute;
	width: 8px;
	height: 5px;
}
}

@media(max-width: 659.98px){
	.header__container{
		min-height: 50px;
	}
	.header__icon{
		display: block;
		flex: 0 0 30px;
		height: 18px;
		position: relative;
	}
	.header__icon::before,
	.header__icon::after,
	.header__icon span {
		content: "";
		position: absolute;
		left: 0;
		height: 2px;
		width: 100%;
		background-color: rgb(73, 80, 87 );
		transition: all 0.3s;
	}
	.header__icon::before{
		top: 0;
	}
	.header__icon::after{
		bottom: 0;
	}
	.header__icon span{
		top: 50%;
		margin-top: -1px;
	}
	.menu-open .header__icon::before{
		top: 50%;
		transform: translateY(-50%) rotate(-45deg);
	}
	.menu-open .header__icon::after{
		bottom: 50%;
		transform: translateY(50%) rotate(45deg);
	}
	.menu-open .header__icon span{
		width: 0;
		left: 50%;
	}
	.menu__body{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		overflow: auto;
		background-color: #dcd6d6;
		padding: 70px 15px 20px 15px;
		transition:  left 0.3s;
	}
	.menu__body::before{
		content: "";
		height: 50px;
		width: 100%;
		position: fixed;
		top: 0;
		left: -100%;
		background-color: #000000;
		z-index: 1;
		transition: left 0.3s;
	}
	.menu-open .menu__body,
	.menu-open .menu__body::before{
		left: 0;
	}
	.box-header__link{
		color: #f8f9fa;
		font-size: 14px;
	}
	.menu__list{
		flex-direction: column;
		row-gap: 20px;
		align-items: flex-start;
	}
.sub-menu__list{
	padding: 10px 0px 0px 0px;
	min-width: 0;
	background-color: #dcd6d6;
}
.sub-menu__link{
	font-size: 16px;
	background-color: #dcd6d6;
	color: rgba(73, 80, 87, 0.5);
}
.menu__link{
	font-size: 20px;
}
}

/*-------PAGE-------*/
.page__slider {
	min-height: 500px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	margin-bottom: 100px;
	align-items: center;
	
}
.page__container{
	padding-top: 100px;
}
.slider {
	
}
.slider__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.slider__image img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.slider__content {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	z-index: 1;
	row-gap: 15px;
}
.slider__author {
	color: #e5e5e5;
	line-height: 167%;
}
.slider__title {
	color: #f8f9fa;
	font-size: 25px;
	font-weight: 700;
	line-height: 160%;
	max-width: 530px;
}


/*-------Topics-------*/

.page__topics {
	margin-bottom: 60px;
}
.topics {
}
.topics__content {
	display: flex;
	gap: 30px;
	justify-content: center;
}
.topics__left-side {
	display: flex;
	flex-direction: column;
gap: 30px;
flex: 0 1 393px;
}
.topics__title {
}
.title {
}
.topics__menu {
}
.menu-topics {
}
.menu-topics__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.menu-topics__item {
	position: relative;
}
.menu-topics__link {
	color: #495057;
	font-weight: 500;
	line-height: 208%;
	padding-left: 20px;

}
.menu-topics__item::before{
	content: "+";
	color: #495057;
	top: 6px;
	left: 0;
	position: absolute;
	width: 9px;
	height: 17px;
}
.topics__search {
	color: rgba(73, 80, 87, 0.5);
	font-weight: 500;
	position: relative;
	padding-left: 20px;
}
.topics__search::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 12px;
	width: 12px;
	background: url("../img/icons/search.svg") 0 0 / 100% no-repeat;
}
.topics__right-side {
	flex: 0 1 605px;
	
	
}
.topics__items {
display: flex;
	flex-direction: column;
	row-gap: 40px;	
}
.topics__item {
}
.item-topics {
	display: flex;
	gap: 31px;
	
}
.item-topics__image {
	flex: 0 1 287px;
	overflow: hidden;
}
.item-topics__image img{
	max-width: 100%;
	transition: all 0.5s;
}
.item-topics__image:hover img
{
	transform: scale(1.1);
}
.item-topics__body {
	flex: 0 1 287px;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	justify-content: center;
}
.item-topics__data {
	color:  #6C757D;
	line-height: 1.67;
}
.item-topics__title {
	font-size: 16px;
	color: #212529;
	font-weight: 500;
	line-height: 1.56;
}
.item-topics__link-title {
}
.item-topics__text {
	color:  #6C757D;
	line-height: 1.67;
}
.item-topics__footer {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #E5E5E5;
	padding-top: 15px;
}
.item-topics__author {
	color:  #6C757D;
	line-height: 1.67;
	
}
.item-topics__like {
	color:  #6C757D;
	line-height: 1.67;
	padding-left: 18px;
	background: url("../img/icons/hurt.svg") left no-repeat;
}

@media(max-width: 815.98px){
	.topics__title{
		font-size: 22px;
	}
}

@media(max-width: 767.98px){
	.topics__content{
		flex-direction: column;
	}
	.topics__left-side{
		flex: 0 1 auto;
	}
	.item-topics__body{
		flex: 0 1 auto;
	}
	.page__slider{
		margin-bottom: 50px;}

}
@media(max-width: 589.98px){
	.topics__title{
		font-size: 20px;
	}
	.topics__left-side{
		gap: 15px;
	}
	.item-topics{
		flex-direction: column;
		gap: 15px;
	}
	.item-topics__image{
		flex: 0 1 auto;
	}
}

/*-------NUMBER-------*/

.page__number {
}
.number-page {
	margin-bottom: 100px;
}
.number-page__items {
	display: flex;
	gap: 15px;
	justify-content: center;
}
.number-page__item {
}
.number-page__link {
	color: rgba(73, 80, 87, 0.5);
	line-height: 2.08;
	font-weight: 500;
	position: relative;
	transition: color 0.3s;
	display: inline-block;
}
.number-page__link.activ{
	color: #495057;
}
.number-page__link::before{
	content: "";
	position: absolute;
	height: 5px;
	width: 0;
	bottom: 0;
	left: 50%;
	color: #dcd6d6;
	transition: all 0.3s;
	border-radius: 2px;
}
.number-page__link.activ::before{
	width: 100%;
	left: 0;
}
.number-page__link:hover::before{
	width: 100%;
	left: 0;
}
.number-page__item:hover .number-page__link{
	color: #495057;
}






/*-------FOOTER-------*/

.footer {
	background-color:#212529;
	

}
.footer__container {
}
.footer__body {
	display: flex;
	justify-content: space-between;
	padding-top: 100px;
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(229, 229, 229, 0.2);
}
.footer__logo {
	font-size: 18px;
	font-weight: 700;
	line-height: 139%;
	color: #f8f9fa;
}
.footer__logo::after{
	content: ".";
	color: #DDBEA9;
}
.footer__navigation {
}
.navigation-footer {
	
	
}
.navigation-footer__body {
	
}
.navigation-footer__list {
	display: flex;
	column-gap: 25px;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 3px;
}
.navigation-footer__item {
}
.navigation-footer__link {
	font-weight: 500;
	color: rgba(248, 249, 250, 0.5);
	line-height: 208%;
	transition: color 0.3s;
}
.navigation-footer__link:hover{
	color: #f8f9fa;
}
.footer__social {
}
.social {
}
.social__body {
}
.social__list {
	display: flex;
	column-gap: 25px;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 3px;
}
.social__item {
}
.social__link {
	font-weight: 500;
	color: rgba(248, 249, 250, 0.5);
	line-height: 208%;
	transition: color 0.3s;
}
.social__item:hover .social__link{
	color: #f8f9fa;
}
.footer__bottom {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	padding-bottom: 100px;
	padding-top: 40px;
	text-align: center;
}
.footer__address {
	font-weight: 500;
	color: rgba(248, 249, 250, 0.5);
	line-height: 208%;
}
.footer__copyright {
	font-weight: 500;
	color: rgba(248, 249, 250, 0.5);
	line-height: 208%;
}



@media(max-width: 1000px){
	.footer__body{
		padding-top: 50px;
		padding-bottom: 30px;
	}
	.footer__bottom{
		padding-top: 30px;
		padding-bottom: 50px;
	}
}
@media(max-width: 767.98px){
	.footer__body{
		padding-top: 30px;
		padding-bottom: 15px;
	}
	.footer__bottom{
		padding-top: 15px;
		padding-bottom: 30px;
	}
}
@media(max-width: 589.98px){
	.footer__body{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
}
@media(max-width: 408px){
	.footer__bottom{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}